<?xml version="1.0" encoding="UTF-8"?>
<games majorVersion="1" minorVersion="1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="games.xsd" date="2012-07-20T04:02:39">
  <!--Contains profiles for backing up system-related files-->
  <game name="GamesForWindows" platform="Windows">
    <title>Games for Windows</title>
    <location_path environment_variable="localappdata" path="Microsoft\XLive\Content"/>
    <save type="AccountData"/>
    <contributer>MASGAU</contributer>
  </game>
  <game name="MASGAU">
    <title>MASGAU Custom XML</title>
    <location_path environment_variable="installlocation" path="MASGAU"/>
    <location_registry root="local_machine" key="SOFTWARE\MASGAU" value="InstallPath"/>
    <identifier path="data" filename="custom.xml"/>
    <save path="data" filename="custom.xml" type="CustomXML"/>
    <contributer>MASGAU</contributer>
  </game>
  <game name="Raptr" platform="Windows">
    <title>Raptr</title>
    <location_path environment_variable="appdata" path="Raptr"/>
    <save filename="raptr*" type="Data"/>
    <ignore filename="*.exe" type="Data"/>
    <save path="data" type="Data"/>
    <save path="Unknown" type="Data"/>
    <contributer>Arc Angel</contributer>
  </game>
  <game name="RGSC" platform="Windows">
    <title>Rockstar Games Social Club</title>
    <location_path environment_variable="localappdata" path="Rockstar Games\RGSC"/>
    <save/>
    <contributer>AvvA</contributer>
  </game>
  <game name="Tomboy">
    <title>Tomboy</title>
    <location_path environment_variable="appdata" path="Tomboy"/>
    <save path="notes"/>
    <save path="config" type="Settings"/>
    <contributer>MASGAU</contributer>
  </game>
  <game name="UPlay" platform="Windows">
    <title>UPlay</title>
    <location_path environment_variable="installlocation" path="Ubisoft\Ubisoft Game Launcher"/>
    <location_registry root="local_machine" key="SOFTWARE\UbiSoft\Launcher" value="InstallDir"/>
    <save path="storage" type="Data"/>
    <ignore path="storage\temp" type="Data"/>
    <contributer>Arc Angel</contributer>
  </game>
  <game name="Xfire" platform="Windows">
    <title>Xfire</title>
    <location_path environment_variable="allusersprofile" path="Xfire"/>
    <save type="Data"/>
    <contributer>Arc Angel</contributer>
  </game>
</games>
